body {
    margin: 0;
    padding: 0;
    border: 0;
}

#game-board {
    border: 1px solid black;
    background-color: coral;
    height: 350px;
    
    margin: 30px;
    text-align: center;
}

.start {
    text-align: center;
}

#start-game {
    text-align: center;
}