body {
    margin: 0;
    padding: 0;
    border: 0;
}

#game-board {
    border: 1px solid black;
    background-color: coral;
    height: 350px;
    margin: 30px;
    text-align: center;
}

.tile {
    background: url(../images/thor.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.hidden {
    display: none
}

.visible {
    display: inline-block;
}

.start {
    text-align: center;
}

#start-game {
    text-align: center;
}

.villain {
    background: url(../images/loki.png);
    background-size: cover;
    
    
    
}