@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(../images/valhalla.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Tapestry', cursive;
    
}

.heading {
    text-align: center;
    color: white;
    font-size: 4rem;
}

#rules {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

#game-board {
    margin: 30px;
    text-align: center;
}

.tile {
    background: url(../images/thor.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.hidden {
    display: none
}

.visible {
    display: inline-block;
}

.start {
    text-align: center;
}

#start-game {
    text-align: center;
}

.villain {
    background: url(../images/loki.png);
    background-size: cover;
}

/* Media queries */

@media screen and (max-width:650px) {
    #game-board {
        height: 600px;

    }
}